<div class="container mt-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let project of frontendProjects">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ project.heading }}</h6>
          <p class="card-text">{{ project.description }}</p>
          <a href="{{ project.link }}" class="btn btn-primary">Visit</a>
        </div>
      </div>
    </div>
  </div>
</div>
